@model OrderDetailModalDTO

<div class="modal fade" id="modal-@Model.DivId" tabindex="-1" aria-labelledby="orderDetailLabel-@Model.DivId" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="orderDetailLabel-@Model.DivId">
                    Chi tiết đơn hàng (#@Model.DivId)
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <!-- BODY -->
            <div class="modal-body">

                <table class="table table-bordered table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th style="width: 30%;">Tên sách</th>
                            <th>Thể loại</th>
                            <th class="text-end">Giá</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-end">Thành tiền</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.OrderDetail)
                        {
                            <tr>
                                <td>@item.Book.BookName</td>
                                <td>@item.Book.Genre.GenreName</td>
                                <td class="text-end">@item.UnitPrice.ToString("N0") ₫</td>
                                <td class="text-center">@item.Quantity</td>
                                <td class="text-end">@((item.UnitPrice * item.Quantity).ToString("N0")) ₫</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- TOTAL SUMMARY -->
                <div class="d-flex justify-content-end mt-3">
                    <div class="p-3 border rounded bg-light">
                        <h5 class="m-0">
                            Tổng tiền:
                            <span class="text-danger fw-bold">
                                @Model.OrderDetail.Sum(x => x.UnitPrice * x.Quantity).ToString("N0") ₫
                            </span>
                        </h5>
                    </div>
                </div>

            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Đóng
                </button>
            </div>

        </div>
    </div>
</div>
